@model IEnumerable<Shared.ViewModels.ProductVM>
@{
    var hostUrl = Startup.HostUri;
}
<div id="list-product">
    @if (Model == null || Model.Count() == 0)
    {
        <p class="data-empty">No data</p>
    }
    else
    {
        <div class="row mb-padding">
            @foreach (var item in Model)
            {
                <div class="col-6 col-lg-3">
                    <div class="product-item">
                        <span class="product-sale"> Hot</span>
                        <a product-link href="/product/@item.Id">
                            <div class="product-img">
                                <div class="img">
                                    <img product-src="@item.Image"></img>
                                </div>
                            </div>
                            <div class="product-content">
                                <p product-name class="mb-none bold">@item.Name</p>
                                @{
                                    var des = @item.ProductDescription.Split("/");
                                    <p>@des[0]</p>
                                }
                                <p class="price">
                                    <currency> @item.Price</currency>
                                </p>
                                <div class="rating">
                                    <partial name="_RatingPartial" model="@item.Rate" />
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    }
</div>