@using CustomerSite.Helpful;

@section Css {
<link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/dropdown.css" asp-append-version="true" />
}
@section Scripts {
<script src="~/js/dropdown.js" asp-append-version="true"></script>
<script src="~/js/products.js" asp-append-version="true"></script>
}
@{
    var _request = ViewBag.ProdPageParam;

}
<!------ breadcrum ----->
<div class="breadcrumb section"><a>home</a> / <a>Search result of "@_request.query"</a></div>
<!------ list product----->
<div class="list-product-wrapper section">
    <div class="container-fluid">
        <div class="row">
            <!------ filter ----->
            <div class="col-12 col-lg-3">
                @await Component.InvokeAsync("FilterCategory",_request)
            </div>
            <!------ product----->
            <div class="col-12 col-lg-9">
                <!------ order ----->
                @await Component.InvokeAsync("SortProduct", _request)
                <!------ list ----->
                <partial name="_ListProductsPartial" model="@Model" />
                <!------ paginaton ----->
                <div class="pagination">
                    @for (int i = 1; i <= ViewBag.Page; i++)
                    {
                        var className = "";
                        if (i == _request.page) className = "active";
                        <a class='page-item @className'
                        href="@PageHelper.CreateURI(@_request.typeId,@_request.cateId,@_request.sort,i,@_request.query)">@i</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>